@using Web_UI.Models.Helpers;
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnTGfFpSbGzlxavlxl2QO0vvaO8ZTzurw&callback=initMap&libraries=&v=weekly" async></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/Views/vProperties.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="table-container container">
    <section class="section-title">
        <p>Listado de Propiedades</p>
    </section>
    @Html.CTRL_Table(ViewName: "vProperties", ID: "TBL_Properties", Title: "Lista de Propiedades", ColumnsTitle: "Ubicación,Hora de Apertura,Hora de Cierre,Días Disponible,Estado,Tamaño,Comisión", ColumnsDataName: "LocationDetails,OpenTime,CloseTime,AvailableDays,Status,Size,Comission", OnSelectFunction: "BindFields")

    <section class="d-none my-5 mx-4" id="panel-propiedad">
        <section class="section-title">
            <p>Detalles de Propiedad</p>
        </section>

        <form id="frmPropertyData" class="generic-form">
            <section class="d-flex justify-content-around">
                <div class="col-md-3">
                    @Html.CTRL_Input(ID: "txtOpenTime", Type: "text", Label: "Horario de Apertura: (HH:MM)", ColumnDataName: "OpenTime")
                    @Html.CTRL_Input(ID: "txAvailableDays", Type: "text", Label: "Días disponible: (L,M,K,J,V)", ColumnDataName: "AvailableDays")
                </div>
                <div class="col-md-3">
                    @Html.CTRL_Input(ID: "txCloseTime", Type: "text", Label: "Horario de Cierre: (HH:MM)", ColumnDataName: "CloseTime")
                    @Html.CTRL_Input(ID: "txSize", Type: "number", Label: "Tamaño (M2):", ColumnDataName: "Size")
                </div>
                <div class="col-md-3">
                    @Html.CTRL_Input(ID: "txtId", Type: "text", Label: "Identificador de la propiedad", ColumnDataName: "ID")
                    @Html.CTRL_Input(ID: "txtComission", Type: "Number", Label: "Porcentaje de comisión", ColumnDataName: "Comission")
                </div>
            </section>

            <section class="d-flex justify-content-around">
                <div class="col-md-10">
                    @Html.CTRL_Dropdown(ID: "sltPropertyStatus", Label: "Seleccione un estado:", ID_List: "LTS_PROPIEDADES")
                    @Html.CTRL_Input(ID: "txDetails", Type: "text", Label: "Ingrese un detalle sobre la ubicación:", ColumnDataName: "LocationDetails")
                </div>
            </section>

            <section class="d-flex justify-content-around">
                <div class="form-group col-md-10">
                    <label for="#map">Ingrese la Ubicación:</label>
                    <div id="map"></div>
                </div>
            </section>

            <section class="d-flex flex-column align-items-center my-4">
                @Html.CTRL_DowwnloadFile(ID: "DownloadDocuments", ColumnDataName: "Document_URL")
            </section>

            <section class="d-flex justify-content-around py-4 button-group">
@*                @Html.CTRL_Button(ViewName: "vProperties", ID: "btnDelete", Label: "Eliminar", OnClickFunction: "Delete", ButtonType: "btn-main-action")
*@                @Html.CTRL_Button(ViewName: "vProperties", ID: "btnUpdate", Label: "Actualizar", OnClickFunction: "Update", ButtonType: "btn-main-action")
                <button class="btn-main-action" id="panel-propiedad-cerrar">Cerrar</button>
            </section>
        </form>
    </section>

    <div class="d-flex justify-content-start py-4 button-group">
        @Html.ActionLink("Volver", "Index", "vRegisterProperty", new { @class = "btn-second-action mx-4" })
    </div>
</main>

