@using Web_UI.Models.Helpers;
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnTGfFpSbGzlxavlxl2QO0vvaO8ZTzurw&callback=initMap&libraries=&v=weekly" async></script>
<script src="~/Scripts/Views/vRegistrationRequest.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">
    <section class="my-5 mx-4">

        <section class="section-title">
            <p>Listado de Solicitudes de Registro</p>
        </section>

        <section class="d-flex justify-content-around">
            @Html.CTRL_Table(ViewName: "vRegistrationRequest", ID: "TBL_RegistrationRequest_List", Title: "Listado de Solicitudes de Registro",
            ColumnsTitle: "Identificación,Id Propiedad,Id Usuario,Fecha de Registro,Estado", ColumnsDataName: "Id,IdProperty,IdUser,RegistrationDate,Status",
            OnSelectFunction: "BindFields")
        </section>

        <section class="d-none my-5 mx-4" id="panel-RegistrationRequest">
            <div class="card" style="margin-top: 50px;">
                <div class="bs-component,col-lg-6,row,card-body">
                    <form id="frmRegistrationRequestData" class="generic-form">

                        <section class="d-flex justify-content-around align-items-center">
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtId", Type: "text", Label: "Id:", ColumnDataName: "Id")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtRegistrationDate", Type: "text", Label: "Fecha de Registro", ColumnDataName: "RegistrationDate")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtStatus", Type: "text", Label: "Estado", ColumnDataName: "Status")
                            </div>
                        </section>
                        <hr style="height:2px" />
                        <section class="section-title text-center col-md-4" style="padding-top: 20px; padding-bottom: 10px;">
                            <h2>Detalles de Usuario</h2>
                        </section>
                        <section class="d-flex justify-content-around align-items-center">
                            <div class="col m-3">
                                @Html.CTRL_ShowImageModel(ID: "txtImage", Type: "image", Label: "", Src: "/Content/Images/default_profile.png", With: "250", Height: "250", ColumnDataName: "UrlImage")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtUserId", Type: "text", Label: "Cédula", ColumnDataName: "UserId")
                                @Html.CTRL_Input(ID: "txtUserName", Type: "text", Label: "Nombre", ColumnDataName: "UserName")
                                @Html.CTRL_Input(ID: "txtUserPhoneNumber", Type: "text", Label: "Teléfono", ColumnDataName: "UserPhoneNumber")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtUserStatus", Type: "text", Label: "Estado", ColumnDataName: "UserStatus")
                                @Html.CTRL_Input(ID: "txtUserLastName", Type: "text", Label: "Apellido", ColumnDataName: "UserLastName")
                                @Html.CTRL_Input(ID: "txtUserEmail", Type: "text", Label: "Correo Electrónico", ColumnDataName: "UserEmail")
                            </div>

                            <div class="col">
                                @Html.CTRL_Input(ID: "txtSubscriptionAmmount", Type: "text", Label: "Monto de subscripción", ColumnDataName: "SubscriptionAmmount")
                            </div>
                        </section>
                        <hr style="height:2px" />
                        <section class="section-title text-center col-md-4" style="padding-top: 20px; padding-bottom: 15px;">
                            <h2>Detalles de Propiedad</h2>
                        </section>
                        <section class="d-flex justify-content-around align-items-center">
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtPropertyID", Type: "text", Label: "Id", ColumnDataName: "PropertyID")
                                @Html.CTRL_Input(ID: "txtPropertyAvailableDays", Type: "text", Label: "Días Disponible (L,M,K,J,V)", ColumnDataName: "PropertyAvailableDays")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtPropertySize", Type: "text", Label: "Tamaño (M2)", ColumnDataName: "PropertySize")
                                @Html.CTRL_Input(ID: "txtPropertyOpenTime", Type: "text", Label: "Horario de Apertura (HH:MM)", ColumnDataName: "PropertyOpenTime")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtPropertyStatus", Type: "text", Label: "Estado", ColumnDataName: "PropertyStatus")
                                @Html.CTRL_Input(ID: "txtPropertyCloseTime", Type: "text", Label: "Horario de Cierre: (HH:MM)", ColumnDataName: "PropertyCloseTime")
                            </div>
                        </section>
                        <section class="d-flex justify-content-around align-items-center">
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtPropertyLocationDetails", Type: "text", Label: "Detalle de Ubicación", ColumnDataName: "PropertyLocationDetails")
                            </div>
                            <div class="col" text-cente>
                                @Html.CTRL_Input(ID: "txtPropertyComission", Type: "number", Label: "Ingrese un porcentaje de comisión", ColumnDataName: "PropertyComission")
                            </div>
                        </section>

                        <section class="d-flex justify-content-around">
                            <div class="form-group col-md-10">
                                <div id="map"></div>
                            </div>
                        </section>

                        <section class="d-flex flex-column align-items-center my-4">
                            @Html.CTRL_DowwnloadFile(ID: "DownloadDocuments", ColumnDataName: "Document_URL")
                        </section>

                        <section class="d-flex justify-content-around py-4 button-group">
                            @Html.CTRL_Button(ViewName: "vRegistrationRequest", ID: "btnApprove", Label: "Aprobar", OnClickFunction: "Approve", ButtonType: "btn-main-action")
                            <button class="btn-main-action" id="panel-RegistrationRequest-close">Cerrar</button>
                        </section>

                    </form>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-around py-4">
            @Html.ActionLink("Volver", "Index", "vListRegistrationRequest", new { @class = "btn-second-action mx-4" })
        </section>
    </section>
</main>