@using Web_UI.Models.Helpers;
<script src="~/Scripts/SessionInspector.js"></script>
<script src="~/Scripts/Views/vLogin.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="form-container container">
    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Cree una nueva contraseña</p>
        </section>

        <section class="generic-form">
            <form id="frmLoginData" class="d-flex flex-column align-items-center">
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "txtTEM_Password", Type: "password", Label: "Ingrese la contraseña temporal de nuevo", ColumnDataName: "TEMP_Password")
                    @Html.CTRL_Input(ID: "txtNEW_Password", Type: "password", Label: "Nueva contraseña:", ColumnDataName: "NEW_Password")
                    @Html.CTRL_Input(ID: "txtCONF_Password", Type: "password", Label: "Ingrese de nuevo la nueva contraseña:", ColumnDataName: "CONF_Password")
                </div>
            </form>

            <section class="d-flex justify-content-around py-4 button-group">
                @Html.CTRL_Button(ViewName: "vLogin", ID: "BTN_ModifyPassword", Label: "Cambiar Contraseña", OnClickFunction: "ModifyPassword", ButtonType: "btn-main-action")
                @Html.ActionLink("Volver", "Index", "vRegisterProperty", new { @class = "btn-second-action mx-4" })
            </section>
        </section>
    </section>
</main>
