@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vProfileUser.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">
    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Perfil de Usuario</p>
        </section>

        <section class="generic-form">
            <form id="frmUserData" class="d-flex flex-row justify-content-around">
                <section class="col-md-3">
                    @Html.CTRL_ShowImageModel(ID: "txtUrlImage", Type: "image", Label: "", Src: "/Content/Images/default_profile.png", With: "300", Height: "300", ColumnDataName: "UrlImage")
                </section>

                <section class="col-md-3 align-self-start">
                    @Html.CTRL_Input(ID: "txtId", Type: "text", Label: "Cédula", ColumnDataName: "Id")
                    @Html.CTRL_Input(ID: "txtName", Type: "text", Label: "Nombre", ColumnDataName: "Name")
                    @Html.CTRL_Input(ID: "txtLastName", Type: "text", Label: "Apellido", ColumnDataName: "LastName")
                    @Html.CTRL_Input(ID: "txtEmail", Type: "text", Label: "Correo Electrónico", ColumnDataName: "Email")
                </section>

                <section class="col-md-3 align-self-start">
                    @Html.CTRL_Input(ID: "txtStatus", Type: "text", Label: "Estado", ColumnDataName: "Status")
                    @Html.CTRL_Input(ID: "txtPhoneNumber", Type: "number", Label: "Teléfono", ColumnDataName: "PhoneNumber")
                    @Html.CTRL_Input(ID: "txtElectronicWalletAmount", Type: "text", Label: "Saldo en Monedero", ColumnDataName: "ElectronicWalletAmount")
                    @Html.CTRL_Input(ID: "txtRol", Type: "text", Label: "Rol Asignado", ColumnDataName: "Rol")
                </section>
            </form>

            <section class="d-flex justify-content-around py-4 button-group">
                @Html.CTRL_Button(ViewName: "vProfileUser", ID: "btnUpdate", Label: "Guardar", OnClickFunction: "Update", ButtonType: "btn-main-action")
            </section>
        </section>
    </section>
</main>