@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vRefound.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">

    <section class="my-5 mx-4">

        <section class="section-title">
            <p>Solicitudes de Cancelación de Reservación</p>
        </section>

        <section class="d-flex justify-content-around">
            @Html.CTRL_Table(ViewName: "vRefound", ID: "TBL_Refound_List", Title: "Listado Solicitudes de Cancelación de Reservacion",
            ColumnsTitle: "Identificación,estado,Cedula de Solicitante,Nombre de Solicitante,Espacio de Trabajo,Nombre Espacio de Trabajo", ColumnsDataName: "Id,State,ID_Owner,User_Name,IdWorkspace,Workspace_Name",
            OnSelectFunction: "BindFields")
        </section>

        <section class="d-none generic-form" id="panel-Refound">
            <form id="frmUserData">
                <section class="section-title text-center col-md-4" style="padding-top: 20px;">
                    <h2>Detalles del Reembolso</h2>
                </section>

                <section class="d-flex justify-content-around">
                    <section class="col-md-3 align-self-start">
                        @Html.CTRL_Input(ID: "txtAmountInitial", Type: "text", Label: "Valor Inicial", ColumnDataName: "Amount")
                    </section>
                    <section class="col-md-3 align-self-start">
                        <div class="form-group d-flex flex-column">
                            <label for="txtValueSan1">Porcentaje total a reembolsar</label>
                            <div class="input-group mb-3">
                                <input id="txtPorcentage" type="number" class="form-control" aria-label="">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-md-3 align-self-start">
                        @Html.CTRL_Input(ID: "txtAmount", Type: "text", Label: "Monto a reembolsar", ColumnDataName: "Amount")
                    </section>

                    <section class="col-md-3 align-self-start">
                        <div class="form-group d-flex flex-column">
                            <label for="txtValueSan1">Sanción Economica</label>
                            <select id="selectNumber" class="form-control" onchange="refoundSac()">
                                <option value="0">Ninguna</option>
                                <option value="1">Una</option>
                                <option value="2">Dos</option>
                            </select>
                        </div>
                    </section>
                </section>



                <section class="generic-form d-none" id="panel-Sanc1" style="margin-top: 30px;">
                    <section class="d-flex justify-content-around">
                        <section class="section-title text-center col-md-4" style="padding-top: 20px;">
                            <h2>Sanción Economica #1</h2>
                        </section>
                        <section class="col-md-3 align-self-start">
                            <div class="form-group d-flex flex-column">
                                <label for="txtValueSan1">Porcentaje a Reembolsar</label>
                                <div class="input-group mb-3">
                                    <input id="perSanc1" type="number" class="form-control" aria-label="" onchange="Change1Form();">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-3 align-self-start">
                            @Html.CTRL_Input(ID: "txtValueSan1", Type: "text", Label: "Valor del Porcentaje", ColumnDataName: "Porcentage")
                        </section>
                    </section>
                    <section style="width: 100%" class=" align-self-start">
                        @Html.CTRL_Input(ID: "txtDetailSan1", Type: "textarea", Label: "Justificación", ColumnDataName: "Porcentage")
                    </section>
                </section>



                <section class="generic-form d-none" id="panel-Sanc2" style="margin-top: 20px;">
                    <section class="d-flex justify-content-around">
                        <section class="section-title text-center col-md-4" style="padding-top: 20px;">
                            <h2>Sanción Economica #2</h2>
                        </section>
                        <section class="col-md-3 align-self-start">
                            <div class="form-group d-flex flex-column">
                                <label for="txtValueSan1">Porcentaje a Reembolsar</label>
                                <div class="input-group mb-3">
                                    <input id="perSanc2" type="number" class="form-control" aria-label="" onchange="Change1Form();">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-3 align-self-start">
                            @Html.CTRL_Input(ID: "txtValueSan2", Type: "text", Label: "Valor del Porcentaje", ColumnDataName: "Porcentage")
                        </section>
                    </section>
                    <section style="width: 100%" class=" align-self-start">
                        @Html.CTRL_Input(ID: "txtDetailSan2", Type: "textarea", Label: "Justificación", ColumnDataName: "Porcentage")
                    </section>
                </section>



                <section class="d-flex justify-content-around py-4 button-group">
                    @Html.CTRL_Button(ViewName: "vRefound", ID: "btnRefound", Label: "Reembolsar", OnClickFunction: "ProceedRefound", ButtonType: "btn-main-action")
                    <button class="btn-main-action" id="panel-users-close">Cerrar</button>
                </section>


            </form>
        </section>

    </section>
    <div class="d-flex justify-content-start py-4 button-group">
        @Html.ActionLink("Volver", "Index", "vRefound", new { @class = "btn-second-action mx-4" })
    </div>
</main>