@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vWorkspace.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="table-container container">
    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Ingrese los datos de su espacio de trabajo:</p>
        </section>
        <form id="frmWorkspaceData" class="generic-form mx-4">
            <section class="d-flex justify-content-around">
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "txtPropertyId", Type: "text", Label: "Propiedad relacionada:", ColumnDataName: "PropetiesId")
                    @Html.CTRL_Input(ID: "txtSize", Type: "number", Label: "Tamaño (M2):", ColumnDataName: "SizeM2")
                </div>
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "txtName", Type: "text", Label: "Nombre:", ColumnDataName: "Name")
                    @Html.CTRL_Input(ID: "txtRentalPrice", Type: "text", Label: "Costo de renta:", ColumnDataName: "RentalPrice")
                </div>
            </section>
            <section class="d-flex justify-content-center">
                @Html.CTRL_LoadFile(ViewName: "vWorkspace", ID: "inImage", Label: "Adjunte una imagen del espacio de trabajo", GetFileAddressFunction: "GetFileName", Accept: "application/images")
            </section>
        </form>
        <section class="d-flex justify-content-around py-4">
            @Html.CTRL_Button(ViewName: "vWorkspace", ID: "BTN_Create", Label: "Registrar", OnClickFunction: "Create", ButtonType: "btn-main-action")
            @Html.ActionLink("Volver", "Index", "vRegisterWorkspace", new { @class = "btn-second-action mx-4" })
        </section>
    </section>
</main>