@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vUser.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">
    <section class="my-5 mx-4">

        <section class="section-title">
            <p id="IdPUserCreate">Ingrese sus Datos de Usuario: </p>
        </section>

        <form id="frmUserData" class="py-5 generic-form">
            <section class="d-flex justify-content-around">
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "txtId", Type: "number", Label: "Cédula", ColumnDataName: "Id")
                    @Html.CTRL_Input(ID: "txtName", Type: "text", Label: "Nombre", ColumnDataName: "Name")
                    @Html.CTRL_Input(ID: "txtPhoneNumber", Type: "number", Label: "Teléfono", ColumnDataName: "PhoneNumber")
                </div>
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "txtEmail", Type: "text", Label: "Correo Electrónico", ColumnDataName: "Email")
                    @Html.CTRL_Input(ID: "txtLastName", Type: "text", Label: "Apellido", ColumnDataName: "LastName")
                </div>
            </section>

            <section class="d-flex justify-content-center">
                @Html.CTRL_LoadFile(ViewName: "vUser", ID: "inImage", Label: "Adjunte una imagen de perfil", GetFileAddressFunction: "GetFileName", Accept: "application/images")
            </section>
        </form>

        <section class="d-flex justify-content-around py-4 button-group">
            @Html.CTRL_Button(ViewName: "vUser", ID: "BTN_Create", Label: "Registrar", OnClickFunction: "Create", ButtonType: "btn-main-action")
            @Html.ActionLink("Volver", "Index", "vRegisterUser", new { @class = "btn-second-action mx-4" })
        </section>
    </section>
</main>