@using Web_UI.Models.Helpers;
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnTGfFpSbGzlxavlxl2QO0vvaO8ZTzurw&callback=initMap&libraries=&v=weekly" async></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/Views/vProperties.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="form-container container">
    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Ingrese los Datos de su Propiedad</p>
        </section>

        <form id="frmPropertyData" class="generic-form">
            <section class="d-flex justify-content-around">
                <div class="col-md-8">
                    @Html.CTRL_HoursList(ID_List: "lstAvailableOpenHours", Label: "Horario de apertura: (HH:MM)", HoursRangeGetter: "PropertyOpenTimeKey", Prefix: "start")
                    @Html.CTRL_HoursList(ID_List: "lstAvailableCloseHours", Label: "Horario de cierre: (HH:MM)", HoursRangeGetter: "PropertyCloseTimeKey", Prefix: "close")
                    @Html.CTRL_Input(ID: "txSize", Type: "number", Label: "Tamaño (M2):", ColumnDataName: "Size")
                </div>
            </section>

            <section class="d-flex justify-content-around">
                <div class="col-md-10">
                    @Html.CTRL_DaysList(Label: "Seleccione los días disponibles:", ID_Container: "cntAvailableDays", DaysGetter: "availableDays", DaysSetter: "selectedDays")
                </div>
            </section>

            <section class="d-flex justify-content-around">
                <div class="col-md-10">
                    @Html.CTRL_Input(ID: "txDetails", Type: "text", Label: "Ingrese un detallle sobre la ubicación:", ColumnDataName: "LocationDetails")
                </div>
            </section>

            <section class="d-flex justify-content-around">
                <div class="form-group col-md-10">
                    <label for="#map">Ingrese la ubicación:</label>
                    <div id="map"></div>
                </div>
            </section>

            <section class="d-flex justify-content-center">
                @Html.CTRL_LoadFile(ViewName: "vProperties", ID: "inPDF", Label: "Adjunte un archivo legal de la propiedad:", GetFileAddressFunction: "GetFileName", Accept: "application/pdf")
            </section>

            <section class="d-flex justify-content-around py-4 button-group">
                @Html.CTRL_Button(ViewName: "vProperties", ID: "BTN_Create", Label: "Registrar", OnClickFunction: "Create", ButtonType: "btn-main-action")
                @Html.ActionLink("Volver", "Index", "vRegisterProperty", new { @class = "btn-second-action mx-4" })
            </section>
        </form>
    </section>
</main>